:8080 {
    @studentApi path /api/questions /api/questions/* /api/sessions /api/sessions/*
    handle @studentApi {
        reverse_proxy student-api:3001
    }

    handle /api/* {
        reverse_proxy backend:8080
    }

    handle {
        root * /srv
        try_files {path} /index.html
        file_server
    }
}
